[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
