auto-save-list
menu_log.notes
projectile-bookmarks.eld
backups
*~
.places
session.*
.emacs.desktop*
tramp
autosave
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
eshell
ac-comphist.dat
ido.last
/.mc-lists.el
games
/edts/
/url/
/projectile.cache
/server/
/#init.el#
/#theo.el#
/theo.el
