auto-save-list
menu_log.notes
projectile-bookmarks.eld
backups
*~
.places
session.*
.emacs.desktop*
tramp
autosave
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
eshell
ac-comphist.dat
ido.last
/.mc-lists.el
games
/edts/
/url/
/projectile.cache
/server/
/#*#
/theo.el
/lisp/#*#
/lisp/.#setup-csharp.el
/elpa/archives/melpa-stable/archive-contents
/elpa/archives/gnu/archive-contents
/elpa/archives/melpa/archive-contents
